/* ### Primary

- Soft Cyan (Full Slider Bar): hsl(174, 77%, 80%)
- Strong Cyan (Slider Backround): hsl(174, 86%, 45%)
- Light Grayish Red (Discount Background): hsl(14, 92%, 95%)
- Light Red (Discount Text): hsl(15, 100%, 70%)
- Pale Blue (CTA Text): hsl(226, 100%, 87%)

### Neutral

- White (Pricing Component Background): hsl (0, 0%, 100%)
- Very Pale Blue (Main Background): hsl(230, 100%, 99%)
- Light Grayish Blue (Empty Slider Bar): hsl(224, 65%, 95%)
- Light Grayish Blue (Toggle Background): hsl(223, 50%, 87%)
- Grayish Blue (Text): hsl(225, 20%, 60%)
- Dark Desaturated Blue (Text & CTA Background): hsl(227, 35%, 25%)

## Typography

### Body Copy

- Font size (Introductory Paragraph): 15px */

:root {
  /* primary */
  --slider-thumb-background: hsl(174, 86%, 45%);
  --full-slider-bar: hsl(174, 77%, 80%);
  --discount-background: hsl(14, 92%, 95%);
  --discount-text: hsl(15, 100%, 70%);
  --call-to-action-text: hsl(226, 100%, 87%);

  /* neutral */
  --price-background: hsl(0, 0%, 100%);
  --main-background: hsl(230, 100%, 99%);
  --empty-slider-bar: hsl(224, 65%, 95%);
  --toggle-background: hsl(223, 50%, 87%);
  --text: hsl(225, 20%, 60%);
  --call-to-action-background: hsl(227, 35%, 25%);
  --heading-color: hsl(227, 35%, 25%);

  --intro-text-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html {
  font-family: 'Manrope', sans-serif;
  height: 100%;
}

body {
  background: var(--main-background) url('../images/bg-pattern.svg') no-repeat;
  background-size: contain;
}

header {
  background: transparent url('../images/pattern-circles.svg') no-repeat center;
  padding: 80px;
  text-align: center;
}

header .title {
  margin-bottom: 18px;
  color: var(--heading-color);
}

header .subtitle {
  color: var(--text);
}

.price-box {
  background: var(--price-background);
  max-width: 500px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 16px 16px 32px #f1f1f1;
}

.main-content {
  padding: 40px;
}

.page-views {
  text-transform: uppercase;
  color: var(--text);
  font-size: 14px;
}

.price-month {
  font-size: 40px;
  font-weight: 800;
  color: var(--heading-color);
}

.price-month small {
  color: var(--text);
  font-size: 14px;
  font-weight: 600;
  margin-left: 8px;
}

.range-slider {
  margin: 40px 0;
  position: relative;
}

.range-slider .range-bar {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 8px;
  width: 0;
  background: var(--full-slider-bar);
  transform: translateY(-100%);
  margin-top: -4px;
  z-index: 1;
  border-radius: 4px;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  background: var(--slider-thumb-background) url('../images/icon-slider.svg')
    center no-repeat;
  border-radius: 40px;
  height: 40px;
  margin-top: -15px;
  position: relative;
  width: 40px;
  z-index: 10;
  -webkit-appearance: none;
}

input[type='range']::-moz-range-thumb {
  background: var(--slider-thumb-background) url('../images/icon-slider.svg')
    center no-repeat;
  border-radius: 40px;
  height: 40px;
  margin-top: -15px;
  position: relative;
  width: 40px;
  z-index: 10;
}

input[type='range']::-ms-thumb {
  background: var(--slider-thumb-background) url('../images/icon-slider.svg')
    center no-repeat;
  border-radius: 40px;
  height: 40px;
  margin-top: -15px;
  position: relative;
  width: 40px;
  z-index: 10;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--empty-slider-bar);
  border-radius: 4px;
}

.billing-plan {
  margin-right: 24px;
  font-size: 12px;
}

.billing-plan p {
  color: var(--text);
}

.billing-plan .switch {
  margin: 0 16px;
}

.billing-plan .discount-badge {
  background: var(--discount-background);
  color: var(--discount-text);
  border-radius: 20px;
  padding: 2px 4px;
  margin-left: 8px;
}

.divider {
  background: #f1f1f1;
  height: 1px;
  border: 0;
}

.call-to-action {
  padding: 40px;
}

.checklist {
  margin-left: 24px;
}

.checklist li {
  color: var(--text);
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 12px;
  padding-left: 8px;
  list-style-image: url('../images/icon-check.svg');
}

.button {
  background: var(--call-to-action-background);
  color: var(--call-to-action-text);
  height: 40px;
  border: 0;
  min-width: 140px;
  border-radius: 40px;
}

/* Custom switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}
